/* Reset / base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #app {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #fff;
 
}

/* Styles communs aux boutons, inputs, etc. */

